@use '../abstracts/variables' as v;

html {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: inherit;
}

body {
  background-color: v.$background-base;
  color: v.$text-base;
}

::placeholder {
  color: white;
  opacity: 0.2;
}

::-ms-input-placeholder {
  color: v.$text-base;
}
