@use '../abstracts/variables' as v;

.user-card {
  background-color: v.$grey-base;
  border: solid 0.2rem v.$text-base;
  height: fit-content;
  padding: 2vh;
  margin-top: 2vh;
  :first-child {
    margin-top: 0;
  }
  font-family: monospace;
  transition: all ease 0.4s;

  cursor: pointer;
  // grid section
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 0.2fr;
  gap: 0 10px;
  grid-template-areas:
    'i1 i1'
    'i2 i3';

  .title {
    display: grid;
    justify-self: start;
    align-self: stretch;
    grid-area: i1;
    width: 100%;
  }

  .first-subtitle {
    color: v.$text-base;
    justify-self: start;
    grid-area: i2;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .second-subtitle {
    color: v.$text-base;
    grid-area: i3;
    width: 100%;
    text-align: right;
    padding: 0;
    margin: 0;
    padding-right: 10px;
  }

  &:hover {
    border: solid 0.3rem v.$primary;
    background-color: black;
    color: v.$background-base;
    border-radius: 0.1rem;

    .title {
      color: v.$primary;
    }
  }
}
