.header {
  display: flex;
  font-family: Bebas Neue;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  height: 10vh;
  width: 100vw;
  background-color: gold;
  color: black;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: ease;
  transition-duration: 0.1s;
  cursor: pointer;
}
